/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	background: #fff;
	text-align: center;
}

img {
	max-width: 100%;
}

h2,
h3,
a {
	color: #222222;
}

p {
	font-size: .8em;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

#portfolio {
	font-family: 'Tomorrow', sans-serif;
	background-color: rgb(221, 221, 221);
	border: solid rgb(221, 221, 221) 2px;
	border-radius: 8px;
	margin: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

.portfolio-list li {
	width: 100%;
	padding-top: 3em;
	display: inline-block;
}

.contact {
	background-color: rgb(221, 221, 221);
	border: solid rgb(221, 221, 221) 2px;
	border-radius: 8px;
	margin: 1em;
	padding-bottom: 1em;
}

footer {
	border-top: solid rgb(0, 0, 0, 0.2);
	margin: 1em;
}

/* ---- Navigation ---- */

.name {
	font-weight: 800;
}

.main-nav li {
	background-color: #eeeeee;
	margin: 1em 1em;
}

.main-nav a {
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	padding: 15px 15px;
}

a:hover {
	color: rgb(37, 179, 143);
}
/* ---- Page Elements ---- */

ul img {
	border-radius: 10px;
	box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, 1), 10px 10px 30px -10px rgba(0, 0, 0, 1);
}

/* ---- About ---- */

.profile-pic {
	max-width: 367px;
}

.about {
	margin: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-top: solid rgb(0, 0, 0, 0.2);
}
/* ---- Contacts ---- */

/* ---- footer ---- */

footer {
	margin-top: 2em;
	padding: 1em 0;
}

.footer-dsktop {
	display: none;
}
.footer-name {
	float: left;
}

.footer-mobile {
	float: right;
}

/* ================================= 
  Media Queries
==================================== */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

@media (min-width: 768px) {
	.container {
		width: 95%;
		margin: 0 auto;
	}
	.portfolio-list {
		width: 100%;
	}
	.main-header {
		background-color: #fff;
		margin: 1em;
	}

	.name {
		float: left;
	}

	.main-nav {
		float: right;
	}

	.main-nav li {
		background-color: inherit;
		margin: 1em auto;
		float: left;
	}
	.about {
		margin: 1em;
		text-align: left;
	}
	.profile-pic {
		float: right;
	}

	.portfolio-list ul {
		width: 99%;
	}

	.portfolio-list li {
		width: 45%;
		margin: 2%;
		font-size: .85em;
	}

	li p {
		margin: 1em;
	}

	.footer-mobile {
		display: none;
	}

	.footer-dsktop {
		display: inline-block;
		float: right;
	}

	.footer-dsktop li {
		float: left;
		padding-left: 10px;
	}
}

@media (min-width: 1024px) {
	body {
		width: 85%;
		text-align: center;
		margin: 0 auto;
	}

	.container {
		width: 90%;
		max-width: 1150px;
	}

	.portfolio-list {
		width: 100%;
		display: inline-block;
	}

	.portfolio-list li {
		width: 28.333%;
		display: inline-block;
		font-size: .85em;
		float: left;
	}

	li p {
		width: 90%;
	}

	footer {
		margin: 1em;
	}
}
