/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	background-color: rgb(221, 221, 221);
	text-align: center;
}

img {
	max-width: 100%;
}

h2,
h3,
a {
	color: #222222;
}

p {
	font-size: .8em;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
	padding-left: 0;
}
/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Layout Containers ---- */

.main-container {
	margin-top: 0px;
	margin-bottom: 50px;
}

#portfolio {
	border-top: solid rgb(0, 0, 0, 0.2);
	border-bottom: solid rgb(0, 0, 0, 0.2);
	padding-left: 1em;
	padding-right: 1em;
}

.portfolio-list li {
	padding-top: 3em;
}

/* ---- Navigation ---- */

.name {
	font-weight: 800;
}

.main-nav li {
	background-color: #eeeeee;
	margin: 1em 2em;
}

.main-nav a {
	text-transform: uppercase;
	font-weight: 600;
	display: block;
	padding: 15px 15px;
}

a:hover {
	color: rgb(37, 179, 143);
}
/* ---- Page Elements ---- */

ul img {
	border-radius: 10px;
	box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, 1), 10px 10px 30px -10px rgba(0, 0, 0, 1);
}

/* ---- About ---- */

.profile-pic {
	max-width: 367px;
}

.about {
	padding-top: 2em;
	padding-bottom: 2em;
	border-top: solid rgb(0, 0, 0, 0.2);
}
/* ---- Contacts ---- */

/* ---- footer ---- */

.main-footer {
	border-top: solid rgb(0, 0, 0, 0.2);
}

.footer-nav {
	margin: 1em;
	text-transform: uppercase;
	font-weight: 700;
}

.footer-dsktop {
	display: none;
}

.footer-name,
.footer-mobile {
	font-size: 1em;
}

.footer-name {
	float: left;
}

.footer-mobile {
	float: right;
}

/* ================================= 
  Media Queries
==================================== */

.clearfix::after {
	content: " ";
	display: table;
	clear: both;
}

@media (min-width: 768px) {
	.container {
		width: 95%;
		margin: 0 auto;
	}

	.main-nav li {
		margin-left: 1px;
		margin-right: 1px;
		padding: 0 1px 0 1px;
		display: inline-block;
		background-color: inherit;
	}

	.main-nav {
		float: right;
		background-color: #fff;
	}

	.main-header {
		background-color: #fff;
		margin: 0 auto;
	}

	.name {
		float: left;
	}

	.portfolio-list li {
		float: left;
		width: 46%;
		margin: 1.6%;
		font-size: .85em;
	}
}
